[submodule "QSET-Satellite"]
	path = QSET-Satellite
	url = https://github.com/AndrewCramp/QSET-Satellite
[submodule "SunSensorsSTM32"]
	path = SunSensorsSTM32
	url = https://github.com/AndrewCramp/SunSensorsSTM32
[submodule "QSET-Huffman-Encoding-Decoding-2017-2018"]
	path = QSET-Huffman-Encoding-Decoding-2017-2018
	url = https://github.com/AndrewCramp/QSET-Huffman-Encoding-Decoding-2017-2018
